
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

.main{
    height: 80vh;
    width: 100%;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.main .box{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 100px inset;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
    top: 0;
}

.main nav{
    height: 9vh;
    width: 60vw;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav img{
    color: white;
    width: 150px;
}

nav span{
    display: flex;
    gap: 20px;
}
nav .button1{
    font-size: 16px;
    font-weight: 400;
    padding: 0px 20px;
    border-radius: 3px;
    background: none;
    color: white;
    border: 1.8px solid #6b6b6b;
    cursor: pointer;
}
nav .button2{
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 2px solid red;
    cursor: pointer;
}
nav .button2:hover{
    background-color: rgb(183, 0, 0);
    border: 2px solid rgb(183, 0, 0);
}

.main .hero{
    height: 71vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: white;
    position: relative;
    z-index: 1;
}

.hero> :nth-child(1){
    font-size: 45px;
    font-weight: 700;
    width: 55vw;
}

.hero> :nth-child(2){
    font-size: 22px;
}

.hero> :nth-child(3){
    font-size: 18px;
}

.hero input{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 100px 5px 10px;
    border-radius: 3px;
    background: none;
    color: white;
    background-color: #0202029d;
    border: 1.8px solid #6b6b6b;
    cursor: pointer;
}
.hero input::placeholder{
    color: rgb(197, 197, 197);
}

.hero .button3{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 2px solid red;
    cursor: pointer;
}
.hero .button3:hover{
    background-color: rgb(183, 0, 0);
    border: 2px solid rgb(183, 0, 0);
}

.separation{
    height: 7px;
    background-color: #6b6b6b92;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 65vw;
    margin: auto;
    padding: 50px 0px;
}

.section .secText{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.secText :nth-child(1){
    font-size: 48px;
    font-weight: 700;
}
.secText :nth-child(2){
    font-size: 24px;
}

.section .secMedia{
    position: relative;
}

.section .secMedia img{
    width: 500px;
    position: relative;
    z-index: 1;
    
}

.section .secMedia video{
    width: 440px;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 64px;
}

.faq{
    max-width: 65vw;
    margin: auto;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.faq h2{
    font-size: 50px;
    margin: 20px 0px;
}

.q {
    display: flex;
    align-items: center;
    margin: 9px 0px;
    justify-content: space-between;
    color: white;
    background-color: #2d2d2d;
    font-size: 23px;
    padding: 18px 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.q:hover{
    background-color: #616161;
}

footer{
    max-width: 65vw;
    margin: auto;
    padding: 50px 0px;
    color: rgb(197, 197, 197);
}

footer .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.grid a{
    color: rgb(197, 197, 197);
}

footer .button1{
    font-size: 16px;
    font-weight: 400;
    padding: 2px 25px;
    border-radius: 3px;
    background: none;
    color: white;
    border: 1.8px solid #6b6b6b;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    .section {
        flex-direction: column;
    }

    .secText :nth-child(1) {
        font-size: 30px;
        font-weight: 700;
    }
    .secText :nth-child(2) {
        font-size: 22px;
    }
}

@media screen and (max-width:800px) {

    .section, .faq, footer{
        max-width: 75vw;
    }

    .main nav {
        width: 90vw;
    }

    .hero> :nth-child(1) {
        font-size: 33px;
    }
    .hero> :nth-child(2) {
        font-size: 22px;
    }
    .hero> :nth-child(3) {
        font-size: 19px;
    }
    .hero> :nth-child(4) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .hero> :nth-child(4) .button3{
        width: 140px;
    }

    .section .secMedia img {
        width: 400px;
    }
    .section .secMedia video {
        width: 348px;
        top: 49px;
    }

    .faq h2 {
        font-size: 35px;
    }

    .faq .q {
        font-size: 20px;
        padding: 10px 15px;
    }

    footer .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:450px){

    .main nav {
        height: 7vh;
    }
    nav img {
        width: 110px;
    }
    nav span{
        gap: 10px;
    }
    nav .button1 {
        font-size: 14px;
        padding: 2px 10px;
    }
    nav .button2 {
        font-size: 14px;
        padding: 2px 10px;
    }
    
    .hero> :nth-child(1) {
        font-size: 25px;
    }
    .hero> :nth-child(2) {
        font-size: 20px;
    }
    .hero> :nth-child(3) {
        font-size: 15px;
    }

    .hero> :nth-child(4) .button3{
        width: 130px;
    }
    
    .secText :nth-child(1) {
        font-size: 25px;
        font-weight: 700;
    }
    .secText :nth-child(2) {
        font-size: 20px;
    }

    .section .secMedia img {
        width: 350px;
    }
    .section .secMedia video {
        width: 305px;
        top: 45px;
    }

    .faq h2 {
        font-size: 28px;
    }

    .faq .q {
        font-size: 16px;
        padding: 10px 10px;
    }
}
